:root {
    --main-text: #444;    
    --button-idle: #eee;
    --button-click: #aaa;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 3px groove silver;
}

.controls {
    list-style: none;
    padding: 3px;
}

h1, h2, h3, h4, h5, p, span, output {
    color: var(--main-text);
}

button {
    background: var(--button-idle);
    border: 2px inset black;
    border-radius: .2rem;
    padding: .2rem;
    box-shadow: none;
    font-weight: bold;
    color: var(--main-text);
    cursor: pointer;
}

button:active {
    background: var(--button-click); 
}

ul {
    list-style: none;
    padding: .2rem 0;
}

.options {
    width: 75%;
    display: table;
    float: left;
}

.preview {
    border: 2px inset black;
    width: 25%;
    display: block;
    float: left;
}
